*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: none;
    scroll-behavior: smooth;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #222831;
    overflow-x: hidden;
}
.cursor{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: all 0.2s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    backdrop-filter: invert();
    z-index: -1;
}
.cursor-change{
    transform: scale(1.7);
    background: #eeeeee;
}
.cursor-change2{
    transform: scale(1.7);
}

.hidden{
    position: fixed;
    top: 4vh;
    right: 0px;
    width: 75vh;
    height: 92vh;
    display: none;
    opacity: 0;
    transition: 1s all ease;
    transform: translateX(83%);
}
.unhide{
    transform: translateX(0%);
}
.burger{
    position: absolute;
}
.burger div{
    width: 46px;
    height: 3px;
    margin: 11px;
    background-color: #00adb5;
    transition: 0.7s all ease;
}
.nav-hidden{
    position: absolute;
    right: 0px;
    height: 92vh;
    width: 65vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav-hidden a{
    display: inline-block;
    text-decoration: none;
    color: #00adb5;
    margin: 7vh;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 2px;
    opacity: 0.7;
    transition: 0.3s all ease;
}

/* header */

header{
    display: flex;
    margin: auto;
    height: 8vh;
    align-items: center;
}
.logo, .nav-links{
    display: flex;
}
.logo{
    flex: 1;
}
.logo h2{
    text-transform: uppercase;
    margin: 20px;
    font-size: 35px;
    letter-spacing: 12px;
    color: #eeeeee;
}
nav{
    flex: 1;
}
.nav-links{
    justify-content: space-around;
}
.nav-links a{
    text-decoration: none;
    color: #eeeeee;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}


/* main */
 section{
     height: 100vh;
     z-index: -3;
 }

/* section 1 */

.intro{
    display: flex;
    color: rgb(238, 235, 235);
    background:linear-gradient(rgba(34,40,49,0.9),rgba(0,0,0,1)), url(./image/code.jpg);
    background-size: cover;
    height: 92vh;
    position: relative;
}
.letter{
    position: absolute;
    top: 80%;
    left: 2%;
    display: flex;
    font-size: 50px;
    color: #eeeeee;
    letter-spacing: 3px;
}
.typing{
    position: relative;
    margin-left: 15px;
}
.typing::after{
    content: "";
    position: absolute;
    right: -6px;
    width: 1px;
    height: 100%;
    border-right: 5px solid #eeeeee;
    animation: blink 550ms infinite ease;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* section 2 */

.about{
    position: relative;
    background: linear-gradient(rgba(330,330,330,0.6),rgba(330,330,330,0.6)), url(./image/hactiv8.jpeg);
    background-size: cover;
    background-position-y: -20vh;
    display: grid;
    grid-template-rows: 2;
}
.appear-img {
    height: 40vh;
    border-radius: 30%;
    margin: auto;
}
.appear {
    color: #393e46;
    margin: auto;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.7;
    margin-top: -0.3vh;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.6s all ease-in-out;
}
