*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #222831;
}
.cursor{
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: all 0.2s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: -1;
}
.cursor-change{
    transform: scale(1.7);
    background: #eeeeee;
}


/* header */

header{
    display: flex;
    margin: auto;
    height: 8vh;
    align-items: center;
}
.logo, .nav-links{
    display: flex;
}
.logo{
    flex: 1;
}
.logo h2{
    text-transform: uppercase;
    margin: 20px;
    letter-spacing: 5px;
    color: #eeeeee;
}
nav{
    flex: 1;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #eeeeee;
    transition: all 0.4s ease;
}


/* body */

/* section 1 */

main{
    z-index: -2;
    position: relative;
}
.intro{
    display: flex;
    color: rgb(238, 235, 235);
    height: 90vh;
    background:linear-gradient(rgba(34,40,49,0.9),rgba(0,0,0,1)), url(./image/code.jpg);
    background-size: cover;
}
.letter{
    position: absolute;
    top: 80%;
    left: 2%;
    display: flex;
    font-size: 50px;
    color: #eeeeee;
    letter-spacing: 3px;
}
.typing{
    position: relative;
    margin-left: 15px;
}
.typing::after{
    content: "";
    position: absolute;
    right: -6px;
    width: 1px;
    height: 100%;
    border-right: 5px solid #eeeeee;
    animation: blink 550ms infinite ease;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* section 2 */

